* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Основной контейнер */
.content {
  position: relative; /* Для позиционирования псевдоэлемента */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Размытый фон через псевдоэлемент */
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("111.jpg") center/cover no-repeat;
  filter: blur(10px); /* Размытие только фона */
  z-index: -1; /* Отправляем под контент */
}

.weather-widget {
  backdrop-filter: blur(8px);
  border-radius: 16px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Более мягкая тень */
  padding: 25px;
  color: white; /* Белый текст для контраста */
  width: 400px;
  height: 400px;
  font-family: "Segoe UI", sans-serif;
  background: rgba(65, 65, 65, 0.493); /* Тёмный полупрозрачный фон */
}

.title {
  display: flex;
}

.humidity-div,
.cloud-div,
.wind-div,
.visibility-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.left-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  row-gap: 40px;
}

.widget-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.item div > p {
  font-size: 20px;
}

.descrip {
  font-size: 20px;
}

#city {
  font-size: 24px;
}

.temp-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
}

.temp {
  font-size: 72px;
  font-weight: 400;
  position: relative;
  line-height: 1;
}

.temp::after {
  content: "°C";
  position: absolute;
  top: 0;
  right: -16px;
  font-size: 22px;
}
